.rx__flex_modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    transition: .3s;
}

body.rx_flex_open {
    overflow: hidden;
}
body.rx_flex_open.rx_modal_full_screen {
    overflow: hidden;
    position: fixed;
}

.rx__flex_modal.open {
    display: flex;
    flex-direction: row;
}

.rx__flex_modal__header,
.rx__flex_modal__footer {
    height: 80px;
    -webkit-box-shadow: 0px 0px 5px #757474;
    -moz-box-shadow: 0px 0px 5px #757474;
    box-shadow: 0px 0px 5px #757474;
    overflow: hidden;
}

.rx__flex_modal__content {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.rx__flex_modal__header {
    display: flex;
    flex-direction: row;
}

.rx__flex_modal__header__left, .rx__flex_modal__header__right {
    display: flex;
    flex-direction: row;
}

.rx__flex_modal__header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.rx__flex_modal__header__rigth {
    width: auto;
}

.rx__flex_modal__footer.hidden {
    display: none;
}

.rx__flex_modal__layout.hidden {
    opacity: 0;
    z-index: -1;
    width: 0;
    display: flex;
}

.rx__flex_modal__content__content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
}
.rx__flex_modal__header__right {
    justify-content: flex-end;
    align-items: center;
}

/*.rx__flex_modal__content__content > *:last-child {
    margin-bottom: 80px;
}*/

.rx__flex_modal__loader.hidden {
    display: none;
}

.rx__flex_modal__header__left > span.hidden, .rx__flex_modal__header__right > span.hidden {
    display: none;
}

.rx__flex_modal__layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: .1s;
    -webkit-transition: .1s;
    opacity: 1;
    overflow: hidden;
}

.rx__flex_modal__loader {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99999999;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.right_empty .rx__flex_modal__header__center__title {
    margin-right: 50px;
}

.rx__flex_modal__header__center__title {
    font-size: 20px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rx__flex_modal__header__left > span, .rx__flex_modal__header__right > span {
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rx__flex_modal__loader .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.rx__flex_modal__loader .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.rx__flex_modal__header__button {
    font-size: 14px;
    line-height: 0;
    margin: 0 8px;
    text-align: center;
    height: 32px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.rx__flex_modal__backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    position: fixed;
    z-index: 999999999;
    transition: .3s;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__left {
    justify-content: flex-start;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__right {
    justify-content: flex-end;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__left #rx__flex_modal,
.rx__flex_modal__backdrop.rx__flex_modal__backdrop__right #rx__flex_modal {
    height: 100%;
}

.rx__flex_modal__HorizontalScrollableElement {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.rx__flex_modal__HorizontalScrollableElement_item {
    display: inline-block;
    height: 100%;
}


.rx__flex_modal__backdrop.__anim_start {
    background-color: #00000000;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__right .rx__flex_modal {
    display:  flex;
    margin-right: -400px;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__right .rx__flex_modal.open {
    margin-right: 0;
}

.rx_modal_full_screen .rx__flex_modal__backdrop.rx__flex_modal__backdrop__right .rx__flex_modal {
    margin-right: 0;
    display: flex;
    left: initial;
    right: -100%;
}
.rx_modal_full_screen .rx__flex_modal__backdrop.rx__flex_modal__backdrop__right .rx__flex_modal.open {
    right: 0;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__left .rx__flex_modal {
    display:  flex;
    margin-left: -400px;
}

.rx__flex_modal__backdrop.rx__flex_modal__backdrop__left .rx__flex_modal.open {
    margin-left: 0;
}

.rx_modal_full_screen .rx__flex_modal__backdrop.rx__flex_modal__backdrop__left .rx__flex_modal {
    margin-right: 0;
    display: flex;
    right: initial;
    left: -100%;
}
.rx_modal_full_screen .rx__flex_modal__backdrop.rx__flex_modal__backdrop__left .rx__flex_modal.open {
    left: 0;
}

@media (min-width: 600px) {
    .rx__flex_modal__backdrop.rx__flex_modal__backdrop__center #rx__flex_modal {
        position: initial;
        width: 750px;
        max-width: 100%;
        height: calc(100% - 200px);
    }

    .rx__flex_modal__backdrop.rx__flex_modal__backdrop__right #rx__flex_modal ,
    .rx__flex_modal__backdrop.rx__flex_modal__backdrop__left #rx__flex_modal {
        position: initial;
        width: 400px;
        height: 100%;
    }
}



@media (min-width: 801px) {

}

@media (min-width: 1025px) {

}

@media (min-width: 1281px) {

}


/* width */
.rx__flex_modal__HorizontalScrollableElement::-webkit-scrollbar {
    width: 8px;
    height:6px;
}

/* Track */
.rx__flex_modal__HorizontalScrollableElement::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #b1b1b1;
}

/* Handle */
.rx__flex_modal__HorizontalScrollableElement::-webkit-scrollbar-thumb {
    background: #8a8888;
    border-radius: 5px;
}

/* Handle on hover */
.rx__flex_modal__HorizontalScrollableElement::-webkit-scrollbar-thumb:hover {
    background: #656464;
}